@import "variable", "typography", "mixin";

.about {
  width: 100%;
  height: auto;
  margin-top: -300px;
  text-align: center;

  h2 {
    font-family: $font-heading;
    font-weight: $font-weight-light;
    letter-spacing: 5px;
    padding: 5% 0;
  }

  &__container {
    width: 100%;
    padding-bottom: 5%;
    text-align: center;

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 50%;
    }

    p {
      width: 80%;
      font-size: $font-size-p;
      font-weight: $font-weight-light;
      line-height: 40px;
      margin: 2% auto;
    }
  }

  .line-design {
    height: 100px;
    background: url("../images/building.png") repeat-x;
  }
}



@include mobileSize {
    .about__container {
      img {
        width: 250px;
        height: 250px
      }
      p {
        width: 100%;
      }
    }
}