@import "typography", "variable", "mixin";

.countries {
  width: 100%;
  text-align: center;

  h2 {
    display: inline-block;
    font-size: $font-size-h2;
    font-family: $font-heading;
    font-weight: $font-weight-light;
    color: $black;
    letter-spacing: 5px;
    padding: 10% 0;

    span {
      @include rotate(5deg);
    }
  }

  img.airplane {
    width: 40px;
    height: auto;
    margin-left: 10px;
  }
}

.countries__flex {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  a {
    margin: 0 5% 7% 5%;

    &:nth-child(1),
    &:nth-child(5),
    &:nth-child(7){
      @include rotate(-7deg);
    }
    &:nth-child(2),
    &:nth-child(4) {
      @include rotate(5deg);
    }
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(8) {
      @include rotate(10deg);
    }
  }
}