@import "typography", "variable";

.countries {
  width: 100%;

  h2 {
    display: inline-block;
    font-size: $font-size-h2;
    font-family: $font-heading;
    font-weight: $font-weight-light;
    color: $black;
    padding: 5% 0;
  }

  img.airplane {
    width: 40px;
    height: auto;
    margin-left: 10px;
  }
}

.countries__flex {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .frame {
    margin: 0 2% 5% 2%;
  }
}