@import "variable", "typography";

.footer__main {
  width: 100%;
  border-top: 3px solid #fafafa;
  text-align: center;

  p {
    font-size: $font-base-size - 5px;
    font-weight: $font-weight-light;
    padding: 2% 0;
  }
}

