@import "variable", "mixin", "typography";

.header__country {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;

  .header__country--logo {
    width: 20%;

    img {
      width: 20%;
    }
  }

  .header__country--nav {
    width: 80%;

    &-links {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        margin-left: 3%;

        a {
          position: relative;
          color: $black;

          &:hover {
            font-weight: $font-weight-bold;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.header__country--mb {
  display: none;
}



@include mobileSize {
  //this header is for only pc and tablet
  .header__country {
    display: none;
  }

  .header__country--mb {
    display: block;
    padding: 20px 5% 0;
    margin-bottom: 10%;

    p {
      font-weight: $font-weight-light;
    }

    a {
      color: $black;
    }
  }
}