@import "typography";

.home__flex {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;

  &--left {
    width: 50%;

    img {
      width: 485px;
      height: 535px;
      object-fit: cover;
    }
  }

  &--right {
    width: 50%;
    padding: 5%;
    text-align: left;

    &-contents {
      margin-top: 10%;

      h2 {
        display: inline-block;
        width: 20%;
        margin-right: 5%;
      }

      p {
        display: inline-block;
      }

      ul {
        display: inline-block;
        vertical-align: top;

        li {
          font-size: $font-size-p;
        }
      }
    }
  }
}
