@import "typography", "mixin";

.home__flex {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  min-height: 580px;

  &--left {
    position: relative;
    width: 485px;
    height: 535px;

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h1 {
      font-family: $font-heading;
      color: $white;
      line-height: 535px;
    }
  }

  &--right {
    width: 40%;
    padding: 5%;
    margin-left: 5%;
    text-align: left;

    &-contents {
      margin-top: 10%;

      h2 {
        display: inline-block;
        width: 20%;
        margin-right: 10%;
      }

      p {
        display: inline-block;
      }

      ul {
        display: inline-block;
        vertical-align: top;

        li {
          font-size: $font-size-p;
          padding: 5% 0;
        }
      }
    }
  }
}

@include mobileSize {
  .home__flex {
    display: block;
    margin-top: 20%;

    &--left {
      width: 100%;
      height: 210px;

      img {
        width: 90%;
        object-position: 0 0;
      }

      h1 {
        line-height: 210px;
      }
    }

    &--right {
      width: 100%;
    }
  }
}

@include middleSize {
  .home__flex {
    display: block;
    margin-top: 20%;

    &--left {
      width: 100%;

      img {
        width: 60%;
        object-position: 0 0;
      }
    }

    &--right {
      width: 60%;
      margin: 0 auto;
    }
  }
}
