@mixin transformBefore ($value) {
  -webkit-transform: rotate($value) translate(0, 50px);
  -moz-transform: rotate($value) translate(0, 50px);
  -ms-transform: rotate($value) translate(0, 50px);
  -o-transform: rotate($value) translate(0, 50px);
  transform: rotate($value) translate(0, 50px);
}

@mixin transformAfter ($value) {
  -webkit-transform: rotate($value) translate(0, 0);
  -moz-transform: rotate($value) translate(0, 0);
  -ms-transform: rotate($value) translate(0, 0);
  -o-transform: rotate($value) translate(0, 0);
  transform: rotate($value) translate(0, 0);
}

@mixin transformHover ($value) {
  -webkit-transform: rotate($value);
  -moz-transform: rotate($value);
  -ms-transform: rotate($value);
  -o-transform: rotate($value);
  transform: rotate($value);
}

//@mixin imgShade ($countryName, $color) {
//  content: $countryName;
//  display: block;
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: 2;
//  width: 485px;
//  height: 535px;
//  background-color: $color;
//}

@mixin imgShadow ($color) {
  position: absolute;
  top: 0;
  left: 0;
  width: 485px;
  height: 535px;
  background-color: $color;
  z-index: 2;
}

@mixin guideLine ($color) {
  content: "";
  display: block;
  width: 30px;
  border-bottom: 2px solid $color;
  margin-top: 10%;
}

@mixin guideLineTop ($color) {
  content: "";
  display: block;
  width: 67px;
  border-top: 1px solid $color;
  margin-bottom: 10%;
}

@mixin guideLineBottom ($color) {
  content: '';
  display: block;
  width: 67px;
  border-bottom: 1px solid $color;
  margin-top: 10%;
}