@mixin transform ($value) {
  -webkit-transform: rotate($value) translate(0, 50px);
  -moz-transform: rotate($value) translate(0, 50px);
  -ms-transform: rotate($value) translate(0, 50px);
  -o-transform: rotate($value) translate(0, 50px);
  transform: rotate($value) translate(0, 50px);
}