@mixin transformBefore ($value) {
  -webkit-transform: rotate($value) translate(0, 50px);
  -moz-transform: rotate($value) translate(0, 50px);
  -ms-transform: rotate($value) translate(0, 50px);
  -o-transform: rotate($value) translate(0, 50px);
  transform: rotate($value) translate(0, 50px);
}

@mixin transformAfter ($value) {
  -webkit-transform: rotate($value) translate(0, 0);
  -moz-transform: rotate($value) translate(0, 0);
  -ms-transform: rotate($value) translate(0, 0);
  -o-transform: rotate($value) translate(0, 0);
  transform: rotate($value) translate(0, 0);
}

@mixin transformHover ($value) {
  -webkit-transform: rotate($value);
  -moz-transform: rotate($value);
  -ms-transform: rotate($value);
  -o-transform: rotate($value);
  transform: rotate($value);
}