@import "variable", "typography";
.hover__bg--blue {
  position: absolute;
  top: -1px;  //to fit for border
  left: -1px;
  width: 240px;
  height: 231px;
  background-color: #6DB3BF;
  opacity: 0;
  cursor: pointer;

  p {
    padding: 105px 0;
    font-size: $font-size-p;
  }
}

.frame a:hover .hover__bg--blue{
  opacity: 0.9;
  z-index: 10;
}