@import "_variable.scss";
// _typography.scss defined everything about font-family


// font-family
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Mukta|Signika+Negative');

$font-photo-name: 'Amatic SC', cursive;
$font-base: 'Mukta', sans-serif;
$font-heading: 'Signika Negative', sans-serif;


// font-size:
$font-base-size: 16px;
$font-size-h1: 2.812rem; //45px
$font-size-h2: 2rem; //32px
$font-size-h3: 2.187rem; //35px with Amatic SC font
$font-size-h4: 1.75rem; //28px
$font-size-li: 1.437rem; //23px
$font-size-p: 1.25rem; //20px


//font-weight
$font-weight-bold: bold;
$font-weight-light: lighter;


html {
  font-family: $font-base;
  font-size: $font-base-size;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: $black;
}