//common-color
$white: #ffffff;
$black: #333333;
$primary-blue: #4799B7;
$secondary-blue: #6DB3BF;

//countries-color
$australia: #46509F;
$german: #E59948;
$taiwan: #B77388;
$canada: #B0272C;
$malaysia: #938BFF;
$finland: #3B91A6;
$thailand: #FECC35;
$usa: #9FA9A2;